<div class="app">
  <header class="header">
    Jobs
  </header>
  <div>
    <mat-form-field class="full-width" appearance="fill">
      <textarea matInput placeholder="Search" class="textarea" [(ngModel)]="searchInput" (ngModelChange)="search()"></textarea>
    </mat-form-field>
  </div>
  <div>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let job of jobs" class="border"
        ><mat-card>
          <div>{{ job.title[0] }}</div>
        </mat-card></mat-grid-tile
      >
    </mat-grid-list>
  </div>
</div>

<router-outlet></router-outlet>
