.border {
  border: 10px red solid;
}

.full-width {
  width: 100%;
}

.textarea {
    color: red !important;
    margin-bottom: 10px;
}

.header {
    display: flex;
    justify-content: center;
    border: 10px black solid ;
}